<div class="modal-header">
    <h4>CREATE CONFIGURATION</h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="environment">Applicaion</label>
        <select id="environment" class="form-control" ng-model="configuration.applicationId" ng-change="updateEnvironments()">
            <option ng-repeat="application in applications" value="{{application.id}}">{{application.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="environment">Environment</label>
        <select id="environment" class="form-control" ng-model="configuration.environmentId">
            <option ng-repeat="environment in environments" value="{{environment.id}}">{{environment.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input id="name" class="form-control" ng-model="configuration.name" />
    </div>
    <div class="form-group">
        <label for="name">Value</label>
        <input id="name" class="form-control" ng-model="configuration.value" />
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger pull-left" ng-click="cancel()">CANCEL</button>
    <button type="button" class="btn btn-success" ng-click="save()">SAVE</button>
</div>